@import models.persistence.Album
@import utils.UiUtils

@(albums: List[Album])(implicit  request: Request[AnyContent])

@bootstrap(None, None) {
    <style>
    .modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
    }
    </style>

    <div class="text-center">
        <h1> Albumok </h1>

        <div>
            <div class="clear" style="height: 65px;"></div>
        </div>

        @for(album <- albums) {
            <a href="@controllers.routes.Application.listFolders(album.secretName)">
                <div class="gallery-box" style="border: none;">
                    <div class="thumbnail">
                        <img flow-img="file" src="@routes.Assets.at("img/album.png")"/>
                    </div>
                    <span class="title ng-binding">@album.name </span>
                </div>
            </a>
        }

        <a href="#" id="newalbum">
            <div class="gallery-box" style="border: none;">
                <div class="thumbnail">
                    <img flow-img="file" src="@routes.Assets.at("img/addalbum.png")"/>
                </div>
                <span class="title ng-binding">Új album..</span>
            </div>
        </a>


            <!-- Modal -->
        <div class="modal fade" id="newAlbumModal" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-folder"></span> Új album hozzáadása </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form" action="@controllers.routes.Application.saveAlbum()" method="post">
                            <div class="form-group">
                                <label for="name"><span class="glyphicon glyphicon-edit"></span> Albumnév </label>
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cog"></span> Hozzáadás </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#newalbum").click(function(){
                $("#newAlbumModal").modal();
            });
        });
    </script>

}