@import models.persistence.{Folder, Album}
@import utils.UiUtils

@(album: Album, folders: List[Folder])(implicit  request: Request[AnyContent])

@bootstrap(Some(album), None) {
    <style>
        .modal-header, h4, .close {
        background-color: #5cb85c;
        color:white !important;
        text-align: center;
        font-size: 30px;
        }
    </style>

    <div class="text-center">
        <h1> Mappák </h1>

        <div>
            <div class="clear" style="height: 65px;"></div>
        </div>

        @for(folder <- folders) {
            <a href="@controllers.routes.Application.showFolder(album.secretName, folder.storedName)">
                <div class="gallery-box" style="border: none;">
                    <div class="thumbnail">
                        <img flow-img="file" src="@routes.Assets.at("img/folder.png")"/>
                    </div>
                    <span class="title ng-binding">@folder.name (@UiUtils.getPictureNumber(folder)) </span>
                </div>
            </a>
        }

        <a href="#" id="newfolder">
            <div class="gallery-box" style="border: none;">
                <div class="thumbnail">
                    <img flow-img="file" src="@routes.Assets.at("img/addfolder.png")"/>
                </div>
                <span class="title ng-binding">Új mappa..</span>
            </div>
        </a>

            <!-- Modal -->
        <div class="modal fade" id="newFolderModal" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-folder"></span> Új mappa hozzáadása </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form" action="@controllers.routes.Application.saveFolder(album.secretName)" method="post">
                            <div class="form-group">
                                <label for="foldername"><span class="glyphicon glyphicon-edit"></span> Mappanév </label>
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cog"></span> Hozzáadás </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#newfolder").click(function(){
                $("#newFolderModal").modal();
            });
        });
    </script>


        @*<p>Folder-open icon on a styled link button:
            <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-folder-open"></span> Folder
            </a>

    </div>
    <div  ng-app="app" ng-controller="SampleController">

        <div flow-init="" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">

            <div class="drop" flow-drop="" ng-class="dropClass">
                <span class="btn btn-default" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility : hidden ; position : absolute ;"></span>
                <span class="btn btn-default" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Upload Folder of Images<input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility : hidden ; position : absolute ;"></span>
                <b>OR</b>
                Drag And Drop your images here
            </div>

            <br>

            <div class="thumbnail" ng-hide="$flow.files.length">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
            </div>

            <div ng-repeat="file in $flow.files" class="gallery-box ng-scope">
                <span class="title ng-binding">{{file.name}}</span>
                <div class="thumbnail" ng-show="$flow.files.length">
                    <img flow-img="file" />
                </div>
                <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                        <span class="sr-only ng-binding">1% Complete</span>
                    </div>
                </div>
                @*<div class="btn-group">
                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                Remove
                </a>
                </div>@
            </div>

            <div>
                <div class="clear"></div>
            </div>

        </div>*@
    </div>
}