@import models.persistence.{Album, Folder}

@(album: Album, folder: Folder)

<style>
    .navbar {
        position: fixed;
        width: 100%
    }

    .navbar-brand {
        border: solid 1px;
        border-radius: 10px;
        margin: 5px;
    }

</style>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" style="font-weight: bold" href="@controllers.routes.Application.showFolder(album.secretName, folder.storedName)"> @{folder.name} </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="@controllers.routes.Application.uploadIntoFolder(album.secretName, folder.storedName)">Képek feltöltése</a></li>
                <li><a href="@controllers.routes.Application.downloadFolder(album.secretName, folder.storedName)">Mappa letöltés</a></li>
                <li><a href="#" id="deletefolder">Mappa törlése</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@controllers.routes.Application.listFolders(album.secretName)">Mappák listája</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteFolderModal" role="dialog">
    <div class="modal-dialog">

        <style>
        .modal-header, h4, .close {
        background-color: #ee4842 ;
        color:white !important;
        text-align: center;
        font-size: 30px;
        }
        </style>

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-folder"></span> Törlés megerősítése </h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <h5> Valóban törölni szeretnéd a @{folder.name} mappát és annak tartalmát? </h5>
                <a href="@controllers.routes.Application.deleteFolder(album.secretName, folder.storedName)" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-cog"></span> Törlés
                </a>
            </div>
        </div>

    </div>
</div>

<script>
        $(document).ready(function(){
            $("#deletefolder").click(function(){
                $("#deleteFolderModal").modal();
            });
        });
    </script>