@import models.persistence.{Album, Folder, Picture}

@(album: Album, folder: Folder, pictures: List[Picture])(implicit  request: Request[AnyContent])

@views.html.bootstrap(Some(album), Some(folder)) {
    <script>
    $(document).ready(function(){
        var $item = $('.carousel .item');
        var $wHeight = $(window).height();
        console.log($wHeight-70);
        $item.eq(0).addClass('active');
        $item.height($wHeight-65);
        $item.addClass('full-screen');

        $('.carousel img').each(function() {
          var $src = $(this).attr('src');
          var $color = $(this).attr('data-color');
          console.log($(this).height());
          console.log($(this).width());
          @*$(this).parent().css({
            'image' : 'url(' + $src + ')',
            'background-color' : $color
          });
          $(this).remove();*@
        });

        $(window).on('resize', function (){
          $wHeight = $(window).height();
          $item.height($wHeight - 65);
        });

        $(document).bind('keyup', function(e) {
          if (e.keyCode==39) {
              jQuery('a.carousel-control.right').trigger('click');
          }
          else if(e.keyCode==37){
              jQuery('a.carousel-control.left').trigger('click');
          }
        });
        @*$('.carousel').carousel({
          interval: 6000,
          pause: "false"
        });*@
    });
    </script>
    <style>
        .sign {
            border: solid 1px #d1d1d1;
            vertical-align: middle;
            text-align: center;
            opacity: .3
        }

        .sign:hover {
            opacity: 1.0;
            text-decoration: none;
        }

        .sing a {
            text-decoration: none;
        }

        .remove {
            color: red;
        }

        .download {
            color: green;
        }

        .full-screen {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .fitcontent {
            width: -moz-fit-content;    /* Firefox */
            width: -webkit-fit-content; /* Chrome */
        }

        .thumbnail img {
            max-height: 80%;
        }
    </style>

    <div class="text-center">
        <div>
            <div class="clear" style="height: 65px;"></div>
        </div>

        <h1> @{folder.name} - Képek </h1>

        <div>
            <div class="clear" style="height: 65px;"></div>
        </div>

        @pictures.zipWithIndex.map { case (picture, index) =>
            <div class="gallery-box ng-scope">
                <div class="thumbnail">
                    <div style="position: relative; top: -5px; left: 70px">
                        <a href="@routes.Picture.at(picture.id)">
                            <i class="download sign glyphicon glyphicon-download-alt glyphicon-white"></i>
                        </a>
                        <a href="@routes.Picture.deletePicture(album.secretName, folder.storedName, picture.id)">
                            <i class="remove sign glyphicon glyphicon-remove glyphicon-white"></i>
                        </a>
                    </div>
                    <a data-toggle="modal" data-target=".bs-example-modal-lg" data-slide-to="@{index + 1}">
                        <img flow-img="file" style="image-orientation: from-image;" src="@routes.Picture.thumbnail(picture.id)"/>
                    </a>
                </div>
                <span class="title ng-binding success">
                    @picture.name
                </span>
            </div>

        }

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg fitcontent">
                <div class="modal-content fitcontent">
                    <div id="carousel-example-generic" class="carousel slide fitcontent" data-ride="carousel" data-interval="false" style="width: 100% content-box">



                           <!-- Wrapper for slides -->
                        <div class="carousel-inner fitcontent">
                            <div class="item active">
                                <img class="img-responsive" src="http://placehold.it/800x600/fff/A5AAE3&text=Vége" alt="...">
                            </div>

                        @for(picture <- pictures) {
                            <div class="item" id="@picture.id">
                                <img class="img-responsive" style="height: 100%; image-orientation: from-image"@*ToDo: ezt majd ki kell cserélni,lásd README*@ src="@routes.Picture.slideshow(picture.id)" alt="@picture.name">
                                <div class="carousel-caption">
                                    @picture.name
                                </div>
                            </div>
                        }
                        </div>

                            <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
