@import models.persistence.{Folder, Album}

@(album: Album, folder: Folder)(implicit  request: Request[AnyContent])

@views.html.bootstrap(Some(album), Some(folder)) {

<script src="@routes.Assets.at("plugins/fine-uploader/fine-uploader.min.js")"></script>
<link href="@routes.Assets.at("plugins/fine-uploader/fine-uploader-gallery.min.css")" rel="stylesheet" />
<link href="@routes.Assets.at("plugins/fine-uploader/fine-uploader-new.min.css")" rel="stylesheet" />

    <div>
        <div class="clear" style="height: 65px;"></div>
    </div>

    <div class="text-center">
        <h1> @{folder.name} - Feltöltés </h1>
    </div>

    <div>
        <div class="clear" style="height: 65px;"></div>
    </div>

    @fineUploader()


<div id="fine-uploader-manual-trigger"></div>

    <div>
        <div class="clear" style="height: 65px;"></div>
    </div>

    <script>
    var manualUploader = new qq.FineUploader({
    element: document.getElementById('fine-uploader-manual-trigger'),
    template: 'qq-template-manual-trigger',
    request: {
        endpoint: '@controllers.routes.Upload.upload(album.secretName, folder.storedName)',
        method: 'POST'
    },
    thumbnails: {
        placeholders: {
            waitingPath: '@routes.Assets.at("plugins/fine-uploader/placeholders/waiting-generic.png")',
            notAvailablePath: '/source/placeholders/not_available-generic.png'
        }
    },
    autoUpload: false,
    debug: true
});

qq(document.getElementById("trigger-upload")).attach("click", function() {
    manualUploader.uploadStoredFiles();
});

</script>
<!--end manual trigger demo code-->
}